<% if user_signed_in? %>
	<h1>Welcome back.</h1>
<% else %>
	<div class="hero-unit">
	<h1>Because we're more than Steel and Football</h1>
	<p>
		From Fort Duquesne to Fort Pitt, the Iron City to the Steel City, and Renaissance I to Renaissance II, explore the city with a storied past, a prosperous present, and a bright future.
	</p>
	<p>
		<%= link_to "Sign Up to Join and Post", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
	</div>
<% end %>