<div class="hero-unit">
<h1>Photos'n'at</h1>
<p>
	Explore Pittsburgh: A city with a storied past, a prosperous present, and a bright future. 
</p>
<p>
	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>
</div>