<h1>Welcome to One Month Rails!</h1>
<p>
	You found the homepage for the 
	<%= link_to "One Month Rails", "http://www.onemonthrails.com" %>
	application.
</p>
<p>
	<%= link_to "Sign Up Now!", "#" %>
</p>