<div class="footer">
	<small>
		<%= link_to "One Month Rails", "http://www.onemonthrails.com" %>
		, adapted by 
		<%= link_to "Brendan Berkley :D", "http://www.github.com/BrendanBerkley" %>
	</small>
</div>